* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.container {
    margin: 20px; 
}

button {
    appearance: none;
    border: none;
    outline: none;
    background-color: none;
    cursor: pointer; 
}

.mic-toggle { 
    position: relative;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 20px;
    background-color: crimson;
    
}

.mic-toggle::after,
.mic-toggle::before {
    --pad: 0rem;
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    background-color: rgb(220, 20, 60,0.2);
    border-radius: 50%;
    top:var(--pad);
    bottom: var(--pad);
    right: var(--pad);
    left: var(--pad);
}

.mic-toggle:after {
    transition: 0.4s;
}
.mic-toggle:before {
    transition: 0.2s;
}

.mic-toggle:hover:after {
    --pad: -1rem;
}

.mic-toggle:hover:before{
    --pad: -0.5rem;
}

.mic-toggle span {
    position: relative;
    z-index: 1;
    color: aliceblue;
    font-size: 2rem;
}

.mic-toggle.is-recording:after{
    animation: Padafter 0.6s    ease-in alternate-reverse forwards infinite;
}

.mic-toggle.is-recording:before{
    animation: Padbefore 0.6s    ease-in alternate-reverse forwards infinite;
}

@keyframes Padafter {
    0% {
        top:-0.5rem;
        bottom: -0.5rem;
        right: -0.5rem;
        left: -0.5rem;
    }
    100% {
        top:-0.25rem;
        bottom: -0.25rem;
        right: -0.25rem;
        left: -0.25rem;
    }
}

@keyframes Padbefore {
    0% {
        top:-0.5rem;
        bottom: -0.5rem;
        right: -0.5rem;
        left: -0.5rem;
    }
    100% {
        top:-0.25rem;
        bottom: -0.25rem;
        right: -0.25rem;
        left: -0.25rem;
    }
}

.mic-toggle.pulsating:after,
.mic-toggle.pulsating:before {
    animation: pulse 0.8s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1); 
    }
}

.two_inputs {
    display: flex;
    align-items: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 0 0 200px; 
    margin-right: 10px; 
}

